<header class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-20">
  <div class="container pt-10">
    <h2 class="text-4xl text-blue-800 leading-relaxed">عن المنصة</h2>
    <h3 class="text-3xl text-teal-500 leading-relaxed">تقابل مع فريقنا</h3>
    <p class="leading-relaxed">
      منصة VT هي منصة سعودية لإصدار عقود صيانة أجهزة الكاميرات الأمنية ، حيث
      تصدر العقود من جهات معتمدة ومرخصة من الهيئة العليا للأمن الصناعي ، تمتاز
      المنصة بسهولة عملها ولا تحتاج إلى تواصل مع أي شخص لإصدار العقود أو تجديدها
      أو طلبات الصيانة .
    </p>
    <img
      ngSrc="assets/images/network.png"
      alt="Network"
      width="300"
      height="300"
    />
  </div>
  <div class="relative hidden md:block">
    <img ngSrc="assets/images/about_header.png" alt="World map" fill />
  </div>
</header>
